<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="address=no">
    <script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
    <script type="text/javascript" src="//3gimg.qq.com/lightmap/components/locationPicker2/js/main-62c2e3b971.js"></script>
    <title>locationPicker Components Demo - iframe</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body, html{
            overflow: hidden;
        }
		[v-cloak] {
		
		     display: none;
		
		}
		.itembox{
			
		}
		.send{
			box-shadow: #1989fa 0 1px 2px 1px;
			padding:10px;
			background: linear-gradient(to right, #00c8c8, #00a2f3);
			border-radius: 10px;
			margin:10px 0px;
			color: white;
			
		}
		.nosend{
			box-shadow: #eae6dc 0 1px 2px 1px;
			padding:10px;
			background: linear-gradient(to right, #28527a, #77067f);
			border-radius: 10px;
			margin:10px 0px;
			color: white;
		}
		.send span{
			
			
		}
		.nosend span{
			
			
		}
		.custom-image .van-empty__image {
		  width: 90px;
		  height: 90px;
		}
		.delete-button {
			position: absolute;
			top: 30%;
			
		}
		.myimg{
			width: 60px;
			height: 100%;
			border-radius: 50%;
		}
		.content {
		  padding: 16px 16px 80px;
		}
		.selfcontent {
		  padding: 50px 16px 80px;
		}
		.selfcontent input{
			padding: 10px;
			margin: 5px;
			border-radius: 20px;
			background-color: white;
			text-align: center;
			color: #1989FA;
		}
		.selfcontent span{
			text-align: center;
		}
    </style>
    <script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="js/mui.min.js"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"/>
	
	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="https://unpkg.com/vue-amap/dist/index.js"></script>
	<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
</head>
<body>
	<div id="app" v-cloak>
		
		<header class="mui-bar mui-bar-nav" >
		    <h1 class="mui-title" style="color: #1989FA;font-weight: 500;">安心外卖</h1>
			
		</header>
		<!-- <div style="position: absolute;">
			
		</div> -->
		<van-tabbar z-index='999' v-model="active">
		  <van-tabbar-item icon="wap-home" >首页</van-tabbar-item>
		  <van-tabbar-item icon="add">添加外卖</van-tabbar-item>
		  <van-tabbar-item icon="manager">个人中心</van-tabbar-item>
		  
		</van-tabbar>
		
		<div class="mui-content"  v-show='active==0'>
			
			<div v-show="!changemapflag">
				<van-notice-bar
				  color="#1989fa"
				  background="#ffffff"
				  mode="closeable"
				  left-icon="volume-o"
				>
				  {{notice}}
				</van-notice-bar>
				<van-pull-refresh
				  v-model="isLoading"
				  success-text="刷新成功"
				  @refresh="onRefresh"
				>
				<div v-show=false>
					经纬度{{longitude}}<br />
					{{latitude}}
				</div>
				<div v-if='waimaiData.length>0||waimaiDataNo.length' >
					<div v-if="waimaiData.length>0">
					<div class="send" style="text-align: center;margin: 0px;font-size: 15px;">---  配送中{{waimaiData.length}}份  ---</div>
						<div v-for="item in waimaiData">
							<transition name="van-slide-left">
							  <div v-show="active==0">
								  
								  <van-swipe-cell>
								  <van-row >
								    <van-col span="24"  class="itembox" :class=[item.send?"send":"nosend"]>
										<van-row >
											<van-col span="20" @click='option(item)'>
												<span>名字：{{item.name}}</span><br />
												<span>手机号：{{item.phone}}</span><br />
												<span>地址：{{item.location}}</span><br />
												<span v-if="item.send">
													配送中！还有：{{item.dis}}米
												</span>
												<span v-else>未开始配送！</span><br />
												<span>创建时间：{{item.time}}</span><br />
											</van-col>
											<van-col span="4">
												<van-switch @click="sendchange(item)"  v-model="item.send" size="24px" />
											</van-col>
										</van-row>
										
										<row>
											<van-steps
											  :active="item.sendactive"
											  active-icon="success"
											  active-color="#38f"
											>
											  <van-step>订单已添加</van-step>
											  <van-step>开始配送</van-step>
											  <van-step>已短信通知</van-step>
											</van-steps>
										</row>
									</van-col>
								  </van-row>
								  <template #right>
								      <van-button
								            text="删除"
								            style="height: 90%;margin-top: 10px;padding: 5px;border-radius: 10px;"
											color='linear-gradient(to right, #ffffff, #fd0000)'
											square
											@click='deleteitem(item.id)'
								          />
								    </template>
								  </van-swipe-cell>
							  </div>
							</transition>	
						</div>
					</div>
					<div v-else>
						<van-empty
						  class="custom-image"
						  image="https://img.yzcdn.cn/vant/custom-empty-image.png"
						  description="配送中订单为0，快开始配送吧！"
						/>
					</div>
					<div v-if="waimaiDataNo.length>0">
					<div class="nosend" style="text-align: center;margin: 0px;font-size: 15px;">---  待配送{{waimaiDataNo.length}}份  ---</div>
					<div v-for="item in waimaiDataNo">
						<transition name="van-slide-left">
						  <div v-show="active==0">
							  
							  <van-swipe-cell>
							  <van-row >
							    <van-col span="24"  class="itembox" :class=[item.send?"send":"nosend"]>
									<van-row >
										<van-col span="20" @click='option(item)'>
											<span>名字：{{item.name}}</span><br />
											<span>手机号：{{item.phone}}</span><br />
											<span>地址：{{item.location}}</span><br />
											<span v-if="item.send">
												配送中！还有：{{item.dis}}米
											</span>
											<span v-else>未开始配送！</span><br />
											<span>创建时间：{{item.time}}</span><br />
										</van-col>
										<van-col span="4">
											<van-switch @click="sendchange(item)"  v-model="item.send" size="24px" />
										</van-col>
									</van-row>
									
									<row>
										<van-steps
										  :active="item.sendactive"
										  active-icon="success"
										  active-color="#38f"
										>
										  <van-step>订单已添加</van-step>
										  <van-step>开始配送</van-step>
										  <van-step>已短信通知</van-step>
										</van-steps>
									</row>
								</van-col>
							  </van-row>
							  <template #right>
							      <van-button
							            
							            text="删除"
							            style="height: 90%;margin-top: 10px;padding: 5px;border-radius: 10px;"
										color='linear-gradient(to right, #ffffff, #fd0000)'
										square
										@click='deleteitem(item.id)'
							          />
							    </template>
							  </van-swipe-cell>
						  </div>
						</transition>	
					</div>
					</div>
					<div v-else>
						<van-empty
						  class="custom-image"
						  image="https://img.yzcdn.cn/vant/custom-empty-image.png"
						  description="待配送订单为0，快去添加吧！"
						/>
						<van-button @click='active=1' round type="info" color="linear-gradient(to right, #4bb0ff, #00557f)" style='width: 160px;'>
						    添加订单
						  </van-button>
					</div>
					<van-action-sheet v-model="changeflag" title="修改订单">
					  <div class="content">
						  <form class="mui-input-group" >
						      <div class="mui-input-row">
						          <label>名字</label>
						      <input type="text" class="mui-input-clear" v-model="changedata.name" placeholder="请输入名字">
						      </div>
						      <div class="mui-input-row">
						          <label>手机号</label>
						          <input type="number" class="mui-input-number" v-model="changedata.phone" placeholder="请输入手机号">
						      </div>
						  	<div class="mui-input-row">
						  	    <label>地址</label>
						  	    <input type="text" @click="showchangemap" class="mui-input-text" v-model="changedata.location" placeholder="请选择地址">
						  	</div>
						      <div class="mui-button-row">
						          <button type="button" @click="changeitem" class="mui-btn mui-btn-primary" >确认</button>
						          <button type="button" class="mui-btn mui-btn-danger" @click="changeflag=false">取消</button>
						      </div>
						  </form>
					  </div>
					</van-action-sheet>
					
				</div>
				<div v-else>
					<van-empty
					  class="custom-image"
					  image="https://img.yzcdn.cn/vant/custom-empty-image.png"
					  style='margin-top: 40%;margin-bottom: 50%;'
					  description="待配送订单为0，快去添加吧！"
					/>
					<van-button @click='active=1' round type="info" color="linear-gradient(to right, #4bb0ff, #00007f)" style='width: 160px;'>
					    添加订单
					  </van-button>
				</div>
				<span v-show=false>{{mlongitude}}</span>
				</van-pull-refresh>
			</div>
			<iframe v-show="changemapflag" id="changeiframe" style="position: fixed;" width="100%;" height="90%" frameborder=0 scrolling="no"
			    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=PVYBZ-O2ZWG-YLVQS-IEYLV-LQTZF-MPBDO&referer=myapp">
			</iframe>
		</div>
		
		<div class="mui-content" v-show="active==1">
			<div v-show='!addflag' >
				<van-divider :style="{ color: '#55007f', borderColor: '#55007f', padding: '0 16px' }">
				  添加外卖订单
				</van-divider>
				<form class="mui-input-group" style="margin-top: 30%;">
				    <div class="mui-input-row">
				        <label>名字</label>
				    <input type="text" class="mui-input-clear" v-model="formdata.name" placeholder="请输入名字">
				    </div>
				    <div class="mui-input-row">
				        <label>手机号</label>
				        <input type="number" class="mui-input-number" v-model="formdata.phone" placeholder="请输入手机号">
				    </div>
					<div class="mui-input-row">
					    <label>地址</label>
					    <input type="text" @click="showmap" class="mui-input-text" v-model="formdata.location" placeholder="请选择地址">
					</div>
				    <div class="mui-button-row">
				        <button type="button" @click="additem" class="mui-btn mui-btn-primary" >确认</button>
				        <button type="button" class="mui-btn mui-btn-danger" @click="empty">清空</button>
				    </div>
				</form>
			</div>
				<iframe v-show="addflag" id="iframe" style="position: fixed;" width="100%;" height="90%" frameborder=0 scrolling="no"
				    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=PVYBZ-O2ZWG-YLVQS-IEYLV-LQTZF-MPBDO&referer=myapp">
				</iframe>
		</div>
		
			<div class="mui-content" v-show="active==2">
				<van-divider :style="{ color: '#1989fa', borderColor: '#e2e2e2', padding: '0 16px' }">
				  个人中心
				</van-divider>
				<van-row>
					
						<van-row style="margin-top: 10%;">
							<van-col span='5' offset='2'>
								<img class="myimg" src="img/myimg.png" />
							</van-col>
							<van-col span='13' >
								<h3 style="line-height: 50px;">{{username}}</h3>
							</van-col>
						</van-row>
						<van-divider :style="{ color: '#1989fa', borderColor: '#e2e2e2', padding: '0 16px' }"></van-divider>
					<van-row>
						<van-col span="22" offset='1'>
							<van-cell icon="manager"  center title="个人信息" is-link @click="changeself" />
						</van-col>
						<van-col span="22" offset='1'>
							<van-cell icon="todo-list" center title="历史订单" is-link url="history.html" />
						</van-col>
						<van-col span="22" offset='1'>
							<van-cell icon="more" center title="关于我们" is-link url="about.html" />
						</van-col>
						
					</van-row>
					<van-popup round closeable v-model="selfflag">
						<div class="selfcontent">
							<span>用户名</span>
							<input :disabled='changeselfflag' placeholder="请输入名字" v-model="selfdata.username" />
							<span>手机号</span><input :disabled='changeselfflag'  placeholder="请输入手机号" v-model="selfdata.phone" />
							<div v-show='!changeselfflag'>
								<span>原密码</span>
								<input :disabled='changeselfflag' placeholder="请输入原密码"  v-model="selfdata.pwd" />
								<span>新密码</span>
								<input :disabled='changeselfflag' placeholder="请输入新密码"  v-model="selfdata.npwd" />
							</div>
							<van-button v-show='changeselfflag' icon='clear' style='width: 100%;' color="linear-gradient(to right, #4bb0ff, #6149f6)" round @click="changeselfflag=false">修改</van-button>
							<van-button v-show='!changeselfflag' icon='clear' style='width: 100%;' color="linear-gradient(to right, #4bb0ff, #6149f6)" round @click="checkandupdate">确认</van-button>
						</div>
					</van-popup>
					<van-col span="20" offset="2">
						<van-button icon='clear' style='width: 100%;' color="linear-gradient(to right, #4bb0ff, #ff007f)" round @click="loginout">退出</van-button>
					</van-col>
					
				</van-row>

				
				<van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">
				  我也是有底线的
				</van-divider>
				
			</div>
	</div>
	
<script type="text/javascript" charset="utf-8">
		
		var app=new Vue({
			el:"#app",
			data:{
				longitude:'',
				notice:'',
				active:0,
				latitude:'',
				mlongitude:'',
				mlatitude:'',
				a:1,
				dis:'',
				keywords:'',
				isLoading: false,
				username:localStorage.getItem('username'),
				addflag:false,
				changeflag:false,
				changemapflag:false,
				selfflag:false,
				changeselfflag:true,
				formdata:{name:'',phone:'',location:''},
				waimaiData:[],
				waimaiDataNo:[],
				changedata:{},
				selfdata:{
					'username':localStorage.getItem('username'),
					'phone':localStorage.getItem('phone'),
					'password':localStorage.getItem('password'),
					'pwd':'',
					'npwd':''
				},
				iconform:[
					{text:'个人信息',icon:"friends-o",click:"loginout"},
					{text:'历史订单',icon:"clock-o",click:"loginout"},
					{text:"退出",icon:"close",click:"loginout"}
				]
			},
			methods:{
				sendchange(item){
					var _this=this
					$.ajax({
						type:"post",
						url:"http://139.9.213.227:4000/takeaway_sendchange",
						header: {'content-type': 'application/x-www-form-urlencoded'},
						data:{'id':item.id,'send':!item.send},
						async:false,
						success:function(res){
							if(res=='ok'){
								_this.getitem()
							}else{
								mui.toast("发生错误！稍后再试！")
							}
						}
					})
				},
				checkandupdate(){
					var _this=this
					let data=_this.selfdata
					if(data.username!=''&&data.phone!=''&&data.pwd!=''&&data.npwd!=''){
						if(data.password!=data.pwd){
							mui.toast('原密码错误！')
						}else{
							$.ajax({
								type:"post",
								url:"http://139.9.213.227:4000/takeaway_changeuser",
								header: {'content-type': 'application/x-www-form-urlencoded'},
								data:{'id':localStorage.getItem('phone'),'username':data.username,'phone':data.phone,'password':data.npwd},
								async:false,
								success:function(res){
									if(res!='fail'){
										_this.selfflag=false
										_this.changeselfflag=true
										_this.username=res[0][0]
										localStorage.setItem('username', res[0][0]);
										localStorage.setItem('password', res[0][1]);
										localStorage.setItem('phone',res[0][2])
										localStorage.setItem('admin',res[0][3])
										vant.Toast.success('修改成功');
									}else{
										vant.Toast.error('修改失败');
									}
								}
							})
						}
					}else{
						mui.toast('请将信息填写完整')
					}
				},
				changeself(){
					this.selfflag=true
				},
				option(item){
					//sessionStorage.setItem("data", JSON.stringify(item));
					this.changedata=item
					this.changeflag=true
				},
				search(keywords){
				    return  this.waimaiData.filter(item=>{
				        if(item.name.includes(keywords)){
				            return item;
				        }else if(item.phone.includes(keywords)){
				            return item;
				        }else if(item.location.includes(keywords)){
				            return item;
				        }
				    })
				},
				getnotice(){
					var _this=this
					$.ajax({
						type:"get",
						url:"http://139.9.213.227:4000/takeaway_getnotice",
						header: {'content-type': 'application/x-www-form-urlencoded'},
						async:false,
						success:function(res){
							if(res!='fail'){
								_this.notice=''
								if(res.length>0){
									for(let i=0;i<res.length;i++){
										_this.notice+=res[i][0]
									}
								}
							}else{
								_this.notice=''
							}
						}
					})
				},
				deleteitem(id){
					var _this=this
					$.ajax({
						type:"post",
						url:"http://139.9.213.227:4000/takeaway_deleteitem",
						header: {'content-type': 'application/x-www-form-urlencoded'},
						data:{'id':id},
						async:false,
						success:function(res){
							console.log(res)
							if(res=='ok'){
								vant.Toast.success('删除成功');
								_this.getitem()
							}else{
								vant.Toast.error('删除失败');
							}
						}
					})
				},
				empty(){
					this.formdata.name=this.formdata.phone=this.formdata.location=''
				},
				showmap(){
					this.addflag=!this.addflag
				},
				showchangemap(){
					this.changeflag=!this.changeflag
					this.changemapflag=!this.changemapflag
				},
				onRefresh() {
				      setTimeout(() => {
				        this.isLoading = false;
						this.getitem()
						this.getnotice()
						this.keywords=''
				      }, 1000);
				    },
					changeitem(){
						var _this=this
						var id=_this.changedata.id
						var name=_this.changedata.name
						var location=_this.changedata.location
						var phone=_this.changedata.phone
						var mlongitude=_this.mlongitude
						var mlatitude=_this.mlatitude
						Date.prototype.Format = function (fmt) { // author: meizz
						    var o = {
						        "M+": this.getMonth() + 1, // 月份
						        "d+": this.getDate(), // 日
						        "h+": this.getHours(), // 小时
						        "m+": this.getMinutes(), // 分
						        "s+": this.getSeconds(), // 秒
						        "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
						        "S": this.getMilliseconds() // 毫秒
						    };
						    if (/(y+)/.test(fmt))
						        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
						    for (var k in o)
						        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
						            return fmt;
						}
						var time1=new Date().Format("yyyy-MM-dd hh:mm:ss"); 
						if(name!=''&&location!=''&&phone!=''){
							$.ajax({
								type:"post",
								url:"http://139.9.213.227:4000/takeaway_changeitem",
								header: {'content-type': 'application/x-www-form-urlencoded'},
								data:{'name':name,'mlongitude':mlongitude,'mlatitude':mlatitude,'location':location,'user':localStorage.getItem('phone'),'id':id,'phone':phone,'time':time1},
								async:false,
								success:function(res){
									if(res=='ok'){
										
										_this.changedata='';
										_this.changeflag=false
										_this.getitem()
										vant.Toast.success('修改成功');
									}
								}
							})
						}else{
							mui.toast("请填写完整信息")
						}
					},
				additem(){
					var _this=this
					var name=_this.formdata.name
					var location=_this.formdata.location
					var phone=_this.formdata.phone
					var mlongitude=_this.mlongitude
					var mlatitude=_this.mlatitude
					Date.prototype.Format = function (fmt) { // author: meizz
					    var o = {
					        "M+": this.getMonth() + 1, // 月份
					        "d+": this.getDate(), // 日
					        "h+": this.getHours(), // 小时
					        "m+": this.getMinutes(), // 分
					        "s+": this.getSeconds(), // 秒
					        "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
					        "S": this.getMilliseconds() // 毫秒
					    };
					    if (/(y+)/.test(fmt))
					        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
					    for (var k in o)
					        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
					            return fmt;
					}
					var time1=new Date().Format("yyyy-MM-dd hh:mm:ss"); 
					if(name!=''&&location!=''&&phone!=''){
						$.ajax({
							type:"post",
							url:"http://139.9.213.227:4000/takeaway_additem",
							header: {'content-type': 'application/x-www-form-urlencoded'},
							data:{'name':name,'mlongitude':mlongitude,'mlatitude':mlatitude,'location':location,'user':localStorage.getItem('phone'),'id':Date.now(),'phone':phone,'time':time1},
							async:false,
							success:function(res){
								if(res=='ok'){
									vant.Toast.success('添加成功');
									_this.formdata.name=_this.formdata.location=_this.formdata.phone=''
									_this.active=0
									_this.getitem()
								}
							}
						})
					}else{
						mui.toast("请填写完整信息")
					}
				},
				loginout(){
					localStorage.clear();
					window.location.href="login.html"
				},
				getitem(){
					var _this=this
					$.ajax({
							type:"post",
							url:"http://139.9.213.227:4000/takeaway_getitem",
							header: {'content-type': 'application/x-www-form-urlencoded'},
							data:{
								'user':localStorage.getItem('phone')
							},
							async:false,
							success:function(res){
								if (res!='fail') {
									_this.waimaiData=[]
									_this.waimaiDataNo=[]
									this.keywords=''
									
									for(let i=0;i<res.length;i++){
										if (res[i][5]==1) {
											_this.waimaiData.push({sendactive:'1',name:res[i][1],mlongitude:res[i][3],mlatitude:res[i][4],location:res[i][2],send:true,phone:res[i][6],id:res[i][8],time:res[i][9],dis:''})
										} else{
											_this.waimaiDataNo.push({sendactive:'0',name:res[i][1],mlongitude:res[i][3],mlatitude:res[i][4],location:res[i][2],send:false,phone:res[i][6],id:res[i][8],time:res[i][9],dis:''})
										}
									}
								} else{
									_this.waimaiData=[]
									_this.waimaiDataNo=[]
								}
							},
							
					});
				},
				getDis(mlongitude,mlatitude,i){
					var _this=this
					var dis=''
					// console.log(longitude)
					// console.log(latitude)
					// console.log(mlongitude)
					// console.log(mlatitude)
					var latitude=_this.latitude
					var longitude=_this.longitude
					if(latitude!=''&&longitude!=''&&mlatitude!=''&&mlongitude!=''){
								$.ajax({
								type:"post",
								url:"http://139.9.213.227:4000/getdistance",
								header: {'content-type': 'application/x-www-form-urlencoded'},
								data:{
									'lat':_this.latitude,
									'lng':_this.longitude,
									'mlat':mlatitude,
									'mlng':mlongitude
								},
								async:true,
								success:function(res){
									_this.waimaiData[i].dis=res
									
								}
						});
					}
				}
			},
			created(){
				this.getitem()
				this.getnotice()
			},
			mounted(){
				this.getDis()
			},
			watch:{
				
			},
			updated(){
				var _this=this
				for(let i=0;i<_this.waimaiData.length;i++){
					if(_this.waimaiData[i].send){
						var sendflag=parseInt(_this.waimaiData[i].dis)
						if(sendflag<300){
							_this.waimaiData[i].sendactive='2'
						}else{
							_this.waimaiData[i].sendactive='1'
						}
						
						// setTimeout (function(){
						// 	_this.getDis(_this.waimaiData[i].mlatitude,_this.waimaiData[i].mlongitude,i)
						// },500)
					}else{
						_this.waimaiData[i].sendactive='0'
					}
				}
			},
			beforeCreate(){
				if(!localStorage.getItem('username')){
					mui.toast("请登录！")
					window.location.href='login.html'
				}
			}
			
			
		})
		$(function(){ 

            adaptHeight();//动态适配高度
			changeadaptHeight();//动态适配高度
            window.onresize = function() { //横屏、QQ浏览器变全屏模式下的时候，需要重新计算高度              
                adaptHeight(); 
				changeadaptHeight();
            }

            window.addEventListener('message', function(event) {
                var loc = event.data;
                app.mlongitude=loc.latlng.lng
                app.mlatitude=loc.latlng.lat
				if (app.active==1) {
					app.addflag=!app.addflag
					app.formdata.location=loc.poiname
				} else{
					app.changeflag=!app.changeflag
					app.changemapflag=!app.changemapflag
					app.changedata.location=loc.poiname
				}
            }, false);

            function adaptHeight() {
                var winH = $(window).height(); 
                var bodyH = document.documentElement.clientHeight; 
                if (winH > bodyH) {
                    window.parent.document.getElementById("iframe").height=winH;
                } else {
                    window.parent.document.getElementById("iframe").height=bodyH;
                }  
            }
			function changeadaptHeight() {
			    var winH = $(window).height(); 
			    var bodyH = document.documentElement.clientHeight; 
			    if (winH > bodyH) {
			        window.parent.document.getElementById("changeiframe").height=winH;
			    } else {
			        window.parent.document.getElementById("changeiframe").height=bodyH;
			    }  
			}
			mui.init();
			
			      	// 扩展API加载完毕后调用onPlusReady回调函数 
					document.addEventListener('plusready', onPlusReady, false);
			//		 扩展API加载完毕，现在可以正常调用扩展API
					function onPlusReady(){
						plus.geolocation.watchPosition(function(p){
							app.longitude=p.coords.longitude;
							app.latitude=p.coords.latitude;
							for(let i=0;i<app.waimaiData.length;i++){
								if(app.waimaiData[i].send){
									setTimeout (function(){
										app.getDis(app.waimaiData[i].mlatitude,app.waimaiData[i].mlongitude,i)
									},500)
								}
							}
						}, function(e){
							app.tip=e.message;
						} ); 
					}
        });
      	
    </script>	
</body>
</html>