<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="address=no">
    <script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
    <script type="text/javascript" src="//3gimg.qq.com/lightmap/components/locationPicker2/js/main-62c2e3b971.js"></script>
    <title>locationPicker Components Demo - iframe</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body, html{
            overflow: hidden;
        }
		.itembox{
			padding: 5px;
			background-color: white;
			border-radius: 10px;
			margin: 10px;
			color: #00557f;
		}
		.send{
			box-shadow: #1989fa 0 1px 2px 1px;
		}
		.nosend{
			box-shadow: #00557f 0 1px 2px 1px;
		}
		.send span{
			color: #1989fa;
		}
    </style>
    <script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="js/mui.min.js"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
	
	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
</head>
<body>
	<div id="app">
		<header class="mui-bar mui-bar-nav">
		    <h1 class="mui-title" >安心外卖</h1>
			
		</header>
		<van-tabbar v-model="active">
		  <van-tabbar-item icon="wap-home">首页</van-tabbar-item>
		  <van-tabbar-item icon="add">添加外卖</van-tabbar-item>
		  <van-tabbar-item icon="manager">个人中心</van-tabbar-item>
		  
		</van-tabbar>
		
		<div class="mui-content" v-show='active==0'>
			
			<van-notice-bar
			  color="#1989fa"
			  background="#ffffff"
			  mode="closeable"
			  left-icon="info-o"
			>
			  {{notice}}
			</van-notice-bar>
			<div v-for="item in waimaiData" >
				<transition name="van-slide-down">
				  <div v-show="active==0">
					  <van-row>
					    <van-col span="20" offset="2" class="itembox" :class=[item.send?"send":"nosend"]>
							<van-row>
								<van-col span="20">
									<span>名字：{{item.name}}</span><br />
									<span>手机号：{{item.phone}}</span><br />
									<span>地址：{{item.location}}</span><br />
									<span v-if="item.send">还有：{{item.mlongitude}}米</span>
									<span v-else>未开始配送！</span>
								</van-col>
								<van-col span="4">
									<van-switch  v-model="item.send" size="24px" />
								</van-col>
							</van-row>
						</van-col>
					  </van-row>
					  
				  </div>
				</transition>
					
				
			</div>
			<span v-show=false>{{mlongitude}}</span>
			
			<!-- <div style="width: 100%;height: 100%;">
				<iframe v-if="addflag" id="iframe" width="100%;" height="100%" frameborder=0 scrolling="yes"
				    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=PVYBZ-O2ZWG-YLVQS-IEYLV-LQTZF-MPBDO&referer=myapp">
				</iframe>
			</div> -->
			
		</div>
		<div class="mui-content" v-show="active==1">
			<van-divider :style="{ color: '#55007f', borderColor: '#55007f', padding: '0 16px' }">
			  添加外卖订单
			</van-divider>
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>名字</label>
			    <input type="text" class="mui-input-clear" v-model="formdata.name" placeholder="请输入名字">
			    </div>
			    <div class="mui-input-row">
			        <label>手机号</label>
			        <input type="number" class="mui-input-number" v-model="formdata.phone" placeholder="请输入手机号">
			    </div>
				<div class="mui-input-row">
				    <label>地址</label>
				    <input type="text" class="mui-input-text" v-model="formdata.location" placeholder="请选择地址">
				</div>
			    <div class="mui-button-row">
			        <button type="button" @click="additem" class="mui-btn mui-btn-primary" >确认</button>
			        <button type="button" class="mui-btn mui-btn-danger" >取消</button>
			    </div>
			</form>
		</div>
		<div class="mui-content" v-show="active==2">
			<div class="mui-input-row mui-search">
			    <input type="search" class="mui-input-clear" placeholder="输入手机号搜索订单">
			</div>
			<van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">
			  我也是有底线的
			</van-divider>
		</div>
		
	</div>
	
<script type="text/javascript" charset="utf-8">
		var app=new Vue({
			el:"#app",
			data:{
				longitude:'',
				notice:'通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容',
				active:0,
				latitude:'',
				mlongitude:'',
				mlatitude:'',
				dis:'',
				username:localStorage.getItem('username'),
				addflag:false,
				formdata:{name:'',phone:'',location:''},
				waimaiData:[
					{name:'4',mlongitude:'432423',mlatitude:'2432',location:'西南林业大学14栋',send:true,phone:"15187464876"},
					{name:'2',mlongitude:'23423',mlatitude:'423423',location:'西南林业大学山下图书馆',send:false,phone:"15187464872"},
					{name:'3',mlongitude:'23423',mlatitude:'423423',location:'4栋',send:false,phone:"15187464871"}
				],
				iconform:[
					{text:'个人信息',icon:"friends-o",click:"loginout"},
					{text:'历史订单',icon:"clock-o",click:"loginout"},
					{text:"退出",icon:"close",click:"loginout"}
				]
			},
			methods:{
				additem(){
					var name=this.formdata.name
					var location=this.formdata.location
					var phone=this.formdata.phone
					this.waimaiData.push({name:name,mlongitude:'23423',mlatitude:'423423',location:location,send:false,phone:phone})
					mui.toast("添加成功")
					this.formdata.name=this.formdata.location=this.formdata.phone=''
					this.active=0
				},
				loginout(){
					localStorage.clear();
					
				},
				getDis(){
					var latitude=this.latitude
					var longitude=this.longitude
					var mlatitude=this.mlatitude
					var mlongitude=this.mlongitude
					var _this=this
					// console.log(longitude)
					// console.log(latitude)
					// console.log(mlongitude)
					// console.log(mlatitude)
					if(latitude!=''&&longitude!=''&&mlatitude!=''&&mlongitude!=''){
								$.ajax({
								type:"post",
								url:"http://139.9.213.227:4000/getdistance",
								header: {'content-type': 'application/x-www-form-urlencoded'},
								data:{
									'lat':latitude,
									'lng':longitude,
									'mlat':mlatitude,
									'mlng':mlongitude
								},
								async:false,
								success:function(res){
									_this.dis=res
									console.log(_this.dis)
								}
						});
					}
				}
			},
			created(){
			},
			mounted(){
				this.getDis()
			},
			updated(){
				this.getDis()
//				plus.geolocation.watchPosition()
				
			},
			beforeCreate(){
				if(!localStorage.getItem('username')){
					alert("请登录")
					window.location.href='login.html'
				}
			}
			
			
		})
		$(function(){ 

            adaptHeight();//动态适配高度
           
            window.onresize = function() { //横屏、QQ浏览器变全屏模式下的时候，需要重新计算高度              
                adaptHeight();                
            }

            window.addEventListener('message', function(event) {
                var loc = event.data;
                app.mlongitude=loc.latlng.lng
                app.mlatitude=loc.latlng.lat
            }, false);

            function adaptHeight() {
                var winH = $(window).height(); 
                var bodyH = document.documentElement.clientHeight; 
                if (winH > bodyH) {
                    window.parent.document.getElementById("iframe").height=winH;
                } else {
                    window.parent.document.getElementById("iframe").height=bodyH;
                }  
            }
        });
      	mui.init();
      	// 扩展API加载完毕后调用onPlusReady回调函数 
		document.addEventListener('plusready', onPlusReady, false);
//		 扩展API加载完毕，现在可以正常调用扩展API
		function onPlusReady(){
			plus.geolocation.watchPosition(function(p){
				app.longitude=p.coords.longitude;
				app.latitude=p.coords.latitude;
				app.altitude=p.coords.altitude;
				
			}, function(e){
				app.tip=e.message;
			} ); 
		}
    </script>	
</body>
</html>